@{
    Layout = null;
}

<section class="about mb-5 text-white">
    <div class="about__content container__custom">
        <h3 class="py-5 font-weight-bold">Công ty</h3>
        <div class="about__details">
            <h1>CÔNG TY SỐNG THEO CÁCH CỦA BẠN</h1>
            <p class="py-3">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
            <button class="btn btn-danger">HIỂU THÊM VỀ CHÚNG TÔI</button>
        </div>
    </div>
</section>
