@{
    Layout = null;
}

<section class="categories container__custom py-5">
    <div class="row">
        <div class="col-4">
            <div class="clothesForMen">
                <div class="position-relative item" style="cursor:pointer">
                    <img src="~/Images/cm1.jpg" class="w-100" />
                    <div class="details detailsForMen position-absolute">
                        <h3><a href="#">TRANG PHỤC NAM</a></h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="clothesForWomen">
                <div class="position-relative item" style="cursor:pointer">
                    <img src="~/Images/cm3.jpg" class="w-100" />
                    <div class="details detailsForWomen position-absolute">
                        <h3><a href="#">TRANG PHỤC NỮ</a></h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="row">
                <div class="col-12 mb-4">
                    <div class="PIERRE_CARDING item" style="cursor:pointer">
                        <div class="img__PIERRE_CARDING position-relative">
                            <div class="details detailsForPIE position-absolute">
                                <h3><a href="#">PIERRE CARDING</a></h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="voucher item" style="cursor:pointer">
                        <div class="position-relative img__voucher" >
                            <div class="details detailsForPIE position-absolute">
                                <h3><a href="#">PHIẾU QUÀ TẶNG</a></h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
