@{
    Layout = null;
}

<section class="related py-4" data-aos="fade-right" data-aos-duration="1000">
    <div class="container__custom">
        <div class="row">
            <div class="col-3">
                <img src="~/Images/1.png" class="img-fluid" />
            </div>
            <div class="col-3">
                 <img src="~/Images/4.png" class="img-fluid"/>
            </div>
            <div class="col-3">
                <img src="~/Images/5.png" class="img-fluid"/>
            </div>
            <div class="col-3">
                <img src="~/Images/6.png" class="img-fluid"/>
            </div>
        </div>
    </div>
</section>
