@{
    Layout = null;
}

<section class="thanhTuu">
    <div class="container">
        <div class="row text-center text-white">
            <div class="col-md-4">
                <div class="store items">
                    <p class="counter">853</p>
                    <span class="line"></span>
                    <span>Cửa hàng</span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="customer items">
                    <p class="counter">1000</p>
                    <span class="line"></span>
                    <span>Khách hàng doanh nghiệp</span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="productC items">
                    <p class="counter">15</p>
                    <span class="line"></span>
                    <span>Triệu sản phẩm tiêu thụ năm 2016</span>
                </div>
            </div>
        </div>
    </div>
</section>
